  /*Especificidad: 001*/
  body {
    /*
    font-family: Arial, sans-serif;
    color:black;
    background-color: white;
    */
  }
  /*
  h1 {
    color:white;
    background-color:lightslategrey;
  }
  
  h2:first-of-type{
    color:white;
    background-color:lightsalmon;
  }

  h2:nth-last-of-type(2){
    color:white;
    background-color:lightseagreen;
  }
  */
  /*Especificidad: 001*/
  img {
    width: 30%; /*Problema que se muestre más grande que el tamaño real, se pixelará*/
    height: auto;
  }

  /*Especificidad: 001*/
  video{
    max-width: 100%;
    height: auto;
  }

